@using StoreApp.Models
@model ProductListViewModel

@{
    ViewData["Title"] = "Products";
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryList")
        @await Component.InvokeAsync("ProductFilterMenu")
        <div products="" number="6"></div>
    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (Product prd in Model.Products)
            {
                <div class="col-sm-12 col-md-4 my-2">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header text-center">
                            @prd?.ProductName
                        </div>

                        <img src="@prd?.ImageUrl" class="card-img-top" alt="..." height="330">

                        <div class="card-body">
                            <div class="card-text">
                                <div class="text-danger text-center lead p-2 rounded-2">
                                    @prd?.Price.ToString("C2")
                                </div>
                            </div>

                            <p class="card-text">@prd?.Summary</p>
                            <div class="d-flex justify-content-center">
                                <div class="btn btn-group">
                                    <a asp-controller="Product" asp-action="Get" asp-route-id="@prd.ProductId"
                                       class="btn btn-outline-secondary rounded-2">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                    <form id="@prd?.ProductId" asp-page="/Cart" method="post">
                                        @*  uygulama burada patlýyor *@
                                        <input type="hidden" name="ProductId" value="@prd.ProductId" />
                                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                        <button class="btn btn-outline-primary"><i class="fa fa-cart-plus"></i></button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="text-center">
        <div page-model="@Model?.Pagination" page-action="ProductCard" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-secondary" class="btn-group">
        </div>
    </div>

</div>
